.Contributor .row {
  display: flex;
  align-items: center;
  width: 760px;
  height: 55px;
  background: linear-gradient(90deg, #280040 0%, rgba(235, 77, 238, 0) 100%);
  border: 1px solid #6a0085;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  margin: 8px auto;
}

.Contributor .rank,
.Contributor .profile,
.Contributor .name,
.Contributor .point {
  padding: 0 5px;
}

.Contributor .rank {
  font-family: Kanit-SemiBold;
  text-align: center;
}

.Contributor .profile {
  display: flex;
  height: 45px;
  justify-content: center;
  margin-left: -15px;
}

.Contributor .point {
  font-family: Kanit-SemiBold;
  text-align: right;
  padding-right: 20px;
}

.rank-1 .row {
  display: none;
  color: black;
  background: linear-gradient(90deg, #fe9502 0%, #fff400 100%);
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(255, 230, 0, 0.4);
}

.rank-2 .row {
  display: none;
  color: black;
  background: linear-gradient(90deg, #244cdb 0%, #00e2ff 100%);
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(96, 205, 255, 0.25);
}

.rank-3 .row {
  display: none;
  color: black;
  background: linear-gradient(90deg, #7613d3 0%, #eb4dee 100%);
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(255, 93, 247, 0.25);
}

@media only screen and (max-width: 1024px) {
  .Contributor .row {
    width: 700px;
    height: 50px;
    font-size: 16px;
  }
  .Contributor .profile {
    height: 40px;
  }
}

@media only screen and (max-width: 876px) {
  .Contributor .row {
    width: 600px;
    height: 45px;
    font-size: 14px;
  }
  .Contributor .profile {
    height: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .Contributor .row {
    width: 500px;
    height: 40px;
    font-size: 12px;
  }
  .Contributor .profile {
    height: 32px;
    margin-left: -10px;
  }
}

@media only screen and (max-width: 650px) {
  .rank-1 .row,
  .rank-2 .row,
  .rank-3 .row {
    display: flex;
  }
  .Contributor .row {
    margin: 5px auto;
  }
}

@media only screen and (max-width: 576px) {
  .Contributor .row {
    width: 400px;
  }
  .Contributor .profile {
    margin-left: -2px;
  }
  .Contributor .name {
    margin-left: 5px;
  }
  .Contributor .point {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 425px) {
  .Contributor .row {
    width: 350px;
  }
  .Contributor .rank {
    margin-left: 3px;
  }
  .Contributor .profile {
    margin-left: 5px;
  }
  .Contributor .name {
    margin-left: 10px;
  }
  .Contributor .point {
    margin-left: -18px;
  }
}

@media only screen and (max-width: 375px) {
  .Contributor .row {
    width: 300px;
  }
  .Contributor .point {
    margin-left: -25px;
  }
}
