.background {
  position: relative;
  height: 1000px;
  background-image: url("../../public/images/BG_PokerThailand.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-filter {
  position: relative;
  height: 1000px;
  background-color: rgba(17, 0, 31, 0.85);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.stars {
  position: relative;
  height: 1200px;
  background-image: url("../../public/images/stars.png");
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .stars {
    background-image: none;
  }
}
