.background {
  position: relative;
  height: 825px;
  background-image: url("../../public/images/BG_PokerThailand.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-filter {
  position: relative;
  height: 825px;
  background-color: rgba(17, 0, 31, 0.85);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
