.btn-custom {
  font-size: 20px;
  border-radius: 50px;
  background: linear-gradient(260.26deg, #fff400 9.39%, #fe9502 78.41%);
  background-size: 200% auto;
  background-position: center;
  padding: 5px 30px;
}

.modal {
  padding: 0 0;
}

.modal-header {
  display: flex;
  justify-content: center;
}

.modal-title {
  font-size: 24px;
}

.RewardList {
  text-align: center;
  padding: 20px 10px 0;
}

.modal-footer .btn {
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
}

.modal-90w {
  min-width: 45vw;
}
