.TopContributor {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}

.second,
.third {
  margin-top: 2.3rem;
}

.second {
  margin-right: 2rem;
}

.third {
  margin-left: 2rem;
}

.TopContributor .profile {
  width: 120px;
  height: 120px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.first {
  font-size: 1.72rem;
}

.first .profile {
  width: 150px;
  height: 150px;
}
