.NavigationBar {
  background-color: transparent;
  margin-bottom: 160px;
}

.navbar {
  font-size: 20px;
}

.navbar-collapse a {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-toggler {
  margin-right: 0;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .NavigationBar {
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .navbar .container {
    margin-right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .NavigationBar {
    margin-bottom: 50px;
  }
}
