.NavigationBar {
  background-color: transparent;
  margin-bottom: 160px;
}

.navbar {
  font-size: 20px;
}

.navbar-collapse a {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-toggler {
  margin-right: 0;
  margin-left: auto;
  border: none;
  color: white;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28106, 17, 189, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media only screen and (max-width: 768px) {
  .NavigationBar {
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar .container {
    margin-right: 0;
  }
}

@media only screen and (max-width: 650px) {
  .NavigationBar {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .navbar .container {
    padding-right: 6px;
  }
}

@media only screen and (max-width: 375px) {
  .navbar-toggler-icon {
    height: 27.5px;
    width: 27.5px;
  }
}
