.LeaderboardTitle {
  color: white;
  text-align: center;
}

.facebook-group {
  font-size: 24px;
}

.title {
  font-family: Kanit-SemiBold;
  font-size: 52px;
  background: linear-gradient(180deg, #7613d3 12.5%, #eb4dee 100%);
  background-clip: text;
  color: transparent;
  margin-top: -25px;
}

.sub-title {
  font-family: Kanit-Regular;
  font-size: 24px;
  margin-top: -20px;
}

.facebook-group .logo {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.background {
  position: relative;
  height: 825px;
  background-image: url("../../../public/images/bg\ poker\ thailand.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-filter {
  position: relative;
  height: 825px;
  background-color: rgba(17, 0, 31, 0.85);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
